@{
    Layout = null;
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Name       : NotableFlower 
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20130623

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>WECONNECT</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
<link href="~/Content/default.css" rel="stylesheet" type="text/css" media="all" />
<link href="~/Content/fonts.css" rel="stylesheet" type="text/css" media="all" />
<!--[if IE 6]>
<link href="default_ie6.css" rel="stylesheet" type="text/css" />
<![endif]-->
<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet" type="text/css">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
 <meta charset="UTF-8" />
        <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">  -->
        <title>Login and Registration Form with HTML5 and CSS3</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <meta name="description" content="WELCOME TO FREIND ZONE" />
        <meta name="keywords" content="html5, css3, form, switch, animation, :target, pseudo-class" />
        <meta name="author" content="Codrops" />
        <link rel="shortcut icon" href="../favicon.ico"> 
        <link rel="stylesheet" type="text/css" href="~/content/demo.css" />
        <link rel="stylesheet" type="text/css" href="~/content/style.css" />
		<link rel="stylesheet" type="text/css" href="~/content/animate-custom.css" />
        <script src="~/Scripts/jquery-1.7.1.js"></script>
</head>
<body>
<div >
	<div id="header-wrapper2">
		<div id="header" class="container">
			<div id="logo">
				<h2><a href="#" class="icon icon-leaf"><span>WE CONNECT</span></a></h2>
			</div>
			<div id="menu">
				<ul>
                    
                    <li><a href="/Admin/logout" accesskey="3" title="">Logout</a></li>
					
				</ul>
			</div>
		</div>
	</div>
</div>
<div id="wrapper">
	<div id="page" class="container">
		<div id="content">
			<div class="title">
				
				<span class="byline">Connect with friends</span> </div>
			
			<div id="two-column">
				<div id="tbox1">
					<div class="title">
						 <div class="container">
            <!-- Codrops top bar -->
                     <h2>WELCOME ADMIN</h2>
             
            <div class="indent">
               

         

            

                  <table>
               

                    

              @foreach (var s in ViewBag.x)
                {
                    <tr>
                        
                        <td>@s.uname</td> 
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>                      
                        <td><a href="/Admin/delete/?fid=@s.Id">Delete</a></td>
                        
                    </tr>
                   
                }
            </table>
            

              
					</div>
					
					<ul class="style2">
						
					</ul>
					
				<div id="tbox2">
					<div class="title">
						
					</div>
					
					<ul class="style2">
						
					</ul>
					</div>
			</div>
		</div>
		<div id="sidebar">
			<div class="box1">
				<div class="title">
					
				</div>
				<ul class="style2">
				
				</ul>
			</div>
			<div class="box2">
				<div class="title">
					
				</div>
				<ul class="style2">
					
				</ul>
			</div>
		</div>
	</div>
</div>

<div id="copyright" class="container">
	<p>Copyright (c) 2014 <br /> Created by <a href="http://www.facebook.com/adeem.anwer">ADEEM ALI</a> </p>
</div>


</body>
</html>
